.col-lg-1 {
	/* border: 1px solid #CCE3FD; */
	padding: 5px;
	
}

.weekday-heading {
	/* font-family: 'Red Rose', sans-serif !important; */
	text-transform: uppercase;
	color: #fefefe;
	border-color: #044389;
	padding: 5px 10px;
	background-color: #044389;
	border-radius: 5px;
}

#month, #year {
	/* font-family: 'Red Rose', sans-serif !important; */
	text-transform: uppercase;
	color: #044389;
}

.inner-content {
	/* background-color:#CCE3FD; */
	background-color: #e0ebf7;
	padding: 5px 10px;
	border-radius: 5px;
}

.inner-content p {
	margin-bottom:15px;
	line-height: 1.4 !important;
	color:#4D4D4D;
	/* font-size: 1rem !important; */
}

.day {
	margin-bottom:10px !important;
	font-weight:300;
	font-size:2rem !important;
	line-height: 2.5rem;
	color:#044389 !important;
}

.empty-day {
	background-color: #eff3f7 !important;
	/* border-color: #fff !important; */
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
  
@media (min-width: 992px) {	
	.seven-cols .col-lg-1 {
	  	width: 14.285714285714285714285714285714%;
	  	*width: 14.285714285714285714285714285714%;
	  	max-width: 14.285714285714285714285714285714% !important;
		flex:none !important;
	}
}
