/* ----------------------------------------------------------------
	Custom CSS

	Author: Enid Soto
	Last updated: 07/29/2020
-----------------------------------------------------------------*/

/* Colors - Backgrounds and fonts */

.bgrd-yellow {
	background-color: #f0c601;
}

.text-yellow {
	color: #f0c601;
}

.text-lightblue {
	color: #00ffff;
}

.text-navyBlue {
	color: #044389;
}

.text-darkOverColor {
	color:#2B2B2B;
}

/* Gradients */

.gradient-sunrise {
	background: rgb(218,28,92,1);
	background: linear-gradient(0deg, rgba(223,183,1,1) 0%, rgba(218,28,92,1) 100%);
}

.gradient-night {
	/* background: rgb(22,42,56);
	background: linear-gradient(180deg, rgba(17,33,44,1) 0%, rgba(4,67,137,1) 100%); */
	background: rgb(19,56,103);
	background: linear-gradient(0deg, rgba(19,56,103,1) 2%, rgba(10,20,27,1) 77%);
}

.gradient-blues {
	background: rgb(4,67,137);
	background: linear-gradient(180deg, rgba(4,67,137,1) 26%, rgba(0,255,255,1) 100%);
}

.gradient-darkest {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 26%, rgba(22,42,56,1) 100%);
}

.gradient-darkgreen {
	background: rgb(5,63,19);
	background: linear-gradient(180deg, rgba(5,63,19,1) 26%, rgba(5,92,29,1) 100%);
}

.gradient-poker-red {
	/* background: rgb(124,0,0);
	background: linear-gradient(180deg, rgba(124,0,0,1) 15%, rgba(213,48,78,1) 100%); */
	background: rgb(113,13,10);
	background: linear-gradient(0deg, rgba(113,13,10,1) 2%, rgba(71,3,3,1) 77%);
}

.gradient-lightsilver {
	background: rgb(213,214,216);
	background: linear-gradient(180deg, rgba(213,214,216,1) 2%, rgba(234,235,236,1) 47%, rgba(166,168,171,1) 100%);
}

.gradient-lightsilver2 {
	background: rgb(213,214,216);
background: linear-gradient(0deg, rgba(213,214,216,1) 2%, rgba(166,168,171,1) 100%);
}

.gradient-orange {
	background: rgb(240,149,1);
	background: linear-gradient(0deg, rgba(240,149,1,1) 2%, rgba(240,198,1,1) 77%);
}

.gradient-lightBlue {
	background: rgb(222,243,247);
	background: linear-gradient(0deg, rgba(222,243,247,1) 2%, rgba(245,255,255,1) 77%);
}

/* Radial borders */

.border-radius-10 {
	border-radius: 10px;
}

.border-radius-bottom-10 {
	border-radius: 0 0 10px 10px;
}

/* Border colors */

.border-top-lightblue {
	border-top: 10px solid #00ffff;
}

.border-bottom-darkblue {
	border-bottom: 10px solid #162a38;
}

.border-bottom-neonblue {
	border-bottom: 10px solid #00ffff;
}

.border-left-light {
	border-left:6px solid #fffdfd;
}

/* Special styles */

.poker-time-pill {
	line-height: 1.8 !important;
	border-radius: 14px;
	padding: 4px 14px;
	font-size: 11px;
	display: inline-block;
	position: relative;
	outline: none;
    white-space: nowrap;
	margin: 5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 1px solid #fefefe;
}

.text-n-right {
	color: #044389;
	position: relative;
	padding: 0;
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	text-align: left;
}

.badge {
	font-size: .9rem;
}

.section-features {
    padding: 20px;
}

.dotted-bg::before {
	content: "";
	position: absolute;
	display: block;
	top: 40%;
	left: 35%;
	width: 110%;
	height: 120%;
	background-size: 12px 12px;
	background-position: center;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(#3D80E4 14%, transparent 14%);
	-webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
	mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
	z-index: 0;
}

.dotted-bg::before { background-image: radial-gradient(rgba(255, 255, 255, 0.2) 14%, transparent 14%); }

.phone-number {
	color: #162a38;
}

.phone-number:hover {
	color: #044389;
}

#top-bar a {
	color: #00EBEB;
}

.underline-link {
	text-decoration: underline;
}

footer a:hover {
	text-decoration: underline;
}

.lightBlueBtn {
	color:#004949;
	background-color: #00ffff;
	border-color: #00EDED;
}

.lineheight-small { line-height: 1.2rem !important; }

.lineheight-medium { line-height: 1.8rem !important; }

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {
	.text-n-right {
		padding: 30px;
		font-size: 48px;
		line-height: 64px;
		margin-right: -48px;
		text-align: right;
		z-index: 1;
		background-color: #FFF;
		-webkit-transform: translateX(16%);
		transform: translateX(16%);
	}
	.section-features {
		padding: 120px;
	}
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
/* @media (max-width: 991.98px) {
	.threecols-slide {
		height: 150px;
	}
	.slideimg {
		object-fit: cover;
		object-position: 33% 33%;
		overflow:hidden;
	}	
} */





